Ultrasound/Ultrasound/Connected Services/ServiceReferenceTwMesTest/wsEQP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.imestech.com/wsEQP" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.imestech.com/wsEQP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.imestech.com/wsEQP">
      <s:element name="wsAUTOUniCheckOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsAUTOUniCheckOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsAUTOUniCheckOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsTESTUniCheckOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsTESTUniCheckOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsTESTUniCheckOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsTESTUniCheckOut_Test">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsTESTUniCheckOut_TestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsTESTUniCheckOut_TestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsTEST2UniCheckOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="wsTEST2UniCheckOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wsTEST2UniCheckOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestDBConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestDBConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestDBConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="wsAUTOUniCheckOutSoapIn">
    <wsdl:part name="parameters" element="tns:wsAUTOUniCheckOut" />
  </wsdl:message>
  <wsdl:message name="wsAUTOUniCheckOutSoapOut">
    <wsdl:part name="parameters" element="tns:wsAUTOUniCheckOutResponse" />
  </wsdl:message>
  <wsdl:message name="wsTESTUniCheckOutSoapIn">
    <wsdl:part name="parameters" element="tns:wsTESTUniCheckOut" />
  </wsdl:message>
  <wsdl:message name="wsTESTUniCheckOutSoapOut">
    <wsdl:part name="parameters" element="tns:wsTESTUniCheckOutResponse" />
  </wsdl:message>
  <wsdl:message name="wsTESTUniCheckOut_TestSoapIn">
    <wsdl:part name="parameters" element="tns:wsTESTUniCheckOut_Test" />
  </wsdl:message>
  <wsdl:message name="wsTESTUniCheckOut_TestSoapOut">
    <wsdl:part name="parameters" element="tns:wsTESTUniCheckOut_TestResponse" />
  </wsdl:message>
  <wsdl:message name="wsTEST2UniCheckOutSoapIn">
    <wsdl:part name="parameters" element="tns:wsTEST2UniCheckOut" />
  </wsdl:message>
  <wsdl:message name="wsTEST2UniCheckOutSoapOut">
    <wsdl:part name="parameters" element="tns:wsTEST2UniCheckOutResponse" />
  </wsdl:message>
  <wsdl:message name="TestDBConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestDBConnection" />
  </wsdl:message>
  <wsdl:message name="TestDBConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestDBConnectionResponse" />
  </wsdl:message>
  <wsdl:portType name="wsEQPSoap">
    <wsdl:operation name="wsAUTOUniCheckOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">JEBSEE-[WIP]-003</wsdl:documentation>
      <wsdl:input message="tns:wsAUTOUniCheckOutSoapIn" />
      <wsdl:output message="tns:wsAUTOUniCheckOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsTESTUniCheckOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">JEBSEE-[WIP]-004</wsdl:documentation>
      <wsdl:input message="tns:wsTESTUniCheckOutSoapIn" />
      <wsdl:output message="tns:wsTESTUniCheckOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsTESTUniCheckOut_Test">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">JEBSEE-[WIP]-004 测试</wsdl:documentation>
      <wsdl:input message="tns:wsTESTUniCheckOut_TestSoapIn" />
      <wsdl:output message="tns:wsTESTUniCheckOut_TestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="wsTEST2UniCheckOut">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">JEBSEE-[WIP]-005/ 測試</wsdl:documentation>
      <wsdl:input message="tns:wsTEST2UniCheckOutSoapIn" />
      <wsdl:output message="tns:wsTEST2UniCheckOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestDBConnection">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Web service and database connection test</wsdl:documentation>
      <wsdl:input message="tns:TestDBConnectionSoapIn" />
      <wsdl:output message="tns:TestDBConnectionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsEQPSoap" type="tns:wsEQPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsAUTOUniCheckOut">
      <soap:operation soapAction="http://www.imestech.com/wsEQP/wsAUTOUniCheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsTESTUniCheckOut">
      <soap:operation soapAction="http://www.imestech.com/wsEQP/wsTESTUniCheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsTESTUniCheckOut_Test">
      <soap:operation soapAction="http://www.imestech.com/wsEQP/wsTESTUniCheckOut_Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsTEST2UniCheckOut">
      <soap:operation soapAction="http://www.imestech.com/wsEQP/wsTEST2UniCheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDBConnection">
      <soap:operation soapAction="http://www.imestech.com/wsEQP/TestDBConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEQPSoap12" type="tns:wsEQPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="wsAUTOUniCheckOut">
      <soap12:operation soapAction="http://www.imestech.com/wsEQP/wsAUTOUniCheckOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsTESTUniCheckOut">
      <soap12:operation soapAction="http://www.imestech.com/wsEQP/wsTESTUniCheckOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsTESTUniCheckOut_Test">
      <soap12:operation soapAction="http://www.imestech.com/wsEQP/wsTESTUniCheckOut_Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="wsTEST2UniCheckOut">
      <soap12:operation soapAction="http://www.imestech.com/wsEQP/wsTEST2UniCheckOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDBConnection">
      <soap12:operation soapAction="http://www.imestech.com/wsEQP/TestDBConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsEQP">
    <wsdl:port name="wsEQPSoap" binding="tns:wsEQPSoap">
      <soap:address location="http://172.16.2.43/ERPws_ASM_DSC_TEST/wsEQP.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEQPSoap12" binding="tns:wsEQPSoap12">
      <soap12:address location="http://172.16.2.43/ERPws_ASM_DSC_TEST/wsEQP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>